<section id="aboutme">
    <div layout="row">
        <div layout="column" layout-fill layout="center center" flex="10"></div>
        <div layout="column">
            <h2>Eric B. Friday</h3>
        <p>I'm a driven full stack software engineer with half a decade worth of experience working with high-value clients. My backgrounds in mortgage and insurance provide me with a problem-solving foundation upon which I've built development skills through an intensive development training program.</p>
        <p>I enjoy working on close-knit teams delivering excellent customer experiences, whether that be through deliverables, deliverables, or client contact experiences.</p>
        <p>I was the kid that took apart the VCR. I dive into things to see how they work. Whether it's code, arduinos, my numerous hobbies, or the family's VCR, I'm there to take it apart and put it back together. I'm driven to build things. Whether it's client deliverables, applications, or experiences, I enjoy constructing something for people to experience, use, and enjoy. Software engineering has empowered me to have an engaging outlet to push myself and my learning to the next level.</p>
        <p>E-mail me at <a href="mailto:ericfriday@gmail.com" style="text-decoration: none; color: rgba(0, 0, 0, 0.54);">ericfriday@gmail.com</a>.</p>
        </div>
        <div layout="column" layout-fill layout="center center" flex="10"></div>
    </div>
</section>