<section>
  <div layout="row" layout-align="center center">
    <img id="myPicture" ng-src="/images/github-headshot.jpeg">
    <h1 id="homeName">Eric B. Friday</h1>
  </div>
  <div id="homeLinks" layout="row" layout-align="center center">
    <a href="http://github.com/ericbfriday" target="_blank">
      <i class="fa fa-github-square fa-5x md-padding" aria-hidden="true" style="color: rgba(0, 0, 0, 0.87);"></i>
    </a>
    <a href="https://www.instagram.com/ericbfriday/" target="_blank">
      <i class="fa fa-instagram fa-5x md-padding" aria-hidden="true" style="color: rgba(0, 0, 0, 0.87);"></i>
    </a>
    <a href="http://www.linkedin.com/in/ericfriday" target="_blank">
      <i class="fa fa-linkedin-square fa-5x md-padding" aria-hidden="true" style="color: rgba(0, 0, 0, 0.87);"></i>
    </a>
    <a href="http://www.twitter.com/fridayeric" target="_blank">
      <i class="fa fa-twitter-square fa-5x md-padding" aria-hidden="true" style="color: rgba(0, 0, 0, 0.87);"></i>
    </a>
  </div>
</section>