<div ng-controller="NavCtrl as nc" ng-cloak>
    <md-content class="">
        <md-nav-bar md-selected-nav-item="nc.currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#/" name="/">
                Home
            </md-nav-item>
            <md-nav-item md-nav-href="#/aboutme" name="/aboutme">
                About Me
            </md-nav-item>
            <md-nav-item md-nav-href="#/resume" name="/resume">
                Resume
            </md-nav-item>
            <md-nav-item md-nav-href="#/aboutcode" name="/aboutcode">
                My Projects
            </md-nav-item>
        </md-nav-bar>
    </md-content>
</div>