<section>
    <div class="container">
        <div layout="row">
        <div layout="column" layout-fill layout="center center" flex="10"></div>
        <div layout="column">
            <div class="md-padding">
                <h1>Experience</h1>
            </div>

            <md-card>
                <div class="md-padding">
                    <md-card-header>
                        <md-card-header-text class="md-headline">
                            <t>Full Stack Software Engineering Student
                                <i>Prime Digital Academy</i>
                            </t>
                        </md-card-header-text>
                    </md-card-header>
                    <p>
                        <ul>
                            <li>Capstone Solo Project (Speech Builder): I created a speech therapy application based on the SEAN
                                stack which provided curated word lists, pronunciations, and objective reporting metrics
                                and graphs intended to provide speech therapists with a means to objectively track the progress
                                and growth of their patients.</li>
                            <li>Capstone Group Project (MusicNerdz): Worked on a development team of 5 developers to create an
                                application which disrupted the educational space by providing framework for learning of
                                music and history. </li>
                            <li>MusicNerdz provided educational material for teachers to use along with student facing content
                                and a CMS for administrators to curate and create additional lessons focused the convergence
                                of contemporary music and history.</li>
                            <li>Created MusicNerdz using SEAN stack (PostgreSQL, Express, Angular, Node) along with angular material
                                for styling and Passport to ensure student and teacher confidentiality.</li>
                            <li>MusicNerdz is being piloted at a local St. Paul high school where it is being used for student
                                empowerment. </li>
                        </ul>
                    </p>

                    <md-card-footer>
                        <sm>JULY 2017 - DECEMBER 2017</sm>
                    </md-card-footer>
                </div>
            </md-card>

            <md-card>
                <div class="md-padding">
                    <md-card-header>
                        <md-card-header-text class="md-headline">
                            <t>Account Specialist
                                <i>Aon Risk Solutions</i>
                            </t>
                        </md-card-header-text>
                    </md-card-header>
                    <p>
                        <ul>
                            <li>Act as the daily contact point for client risk management and insurance needs. </li>
                            <li>Act as a key client liaison fielding complex coverage questions and managing the insurance purchasing process.</li>
                            <li>Manage the production and processing of endorsements, finance agreements, and client deliverables.</li>
                            <li>Assist in the management of a book of business with a focus on retention and account penetration.</li>
                            <li>Manage the day to day operations of the National PACE Association’s affiliated stop-loss reinsurance program.
                            </li>
                        </ul>
                    </p>

                    <md-card-footer>
                        <sm>OCTOBER 2014 - CURRENT</sm>
                    </md-card-footer>
                </div>
            </md-card>

            <md-card>
                <div class="md-padding">
                    <md-card-header>
                        <md-card-header-text class="md-headline">
                            <t>Home Loan Closer V
                                <i>Wells Fargo Home Mortgage</i>
                            </t>
                        </md-card-header-text>
                    </md-card-header>
                    <p>
                        <ul>
                            <li>Draft and reconcile financial settlement statments to ensure fees are in compliance with various
                                government regulations.</li>
                            <li>Review and approve client homeowner’s insurance policies for adequate coverage and compliance
                                with underwriting requirements.</li>
                            <li>Review and approve title insurance to ensure lien position and acceptability of encroachments,
                                liens, and easements.</li>
                            <li>Reprioritize workflow based on timing expectations, rate expirations, closing dates, and commitment
                                expirations to accommodate client and business needs. </li>
                            <li>Act as a subject matter expert regarding New York CEMAs, Texas cashouts, Non-Conforming loans,
                                and trust closing procedures and regulations. </li>
                        </ul>
                    </p>
                    <div class="">
                        <md-card-footer>
                            <sm>JUNE 2014 - OCTOBER 2014</sm>
                        </md-card-footer>
                    </div>
                </div>
            </md-card>

            <md-card>
                <div class="md-padding">
                    <md-card-header>
                        <md-card-header-text class="md-headline">
                            <t>Home Loan Processor IV & V
                                <i>Wells Fargo Home Mortgage</i>
                            </t>
                        </md-card-header-text>
                    </md-card-header>
                    </p>
                    <p>
                        <more>
                            <ul>
                                <li>Create a streamlined customer experience while observing strict industry regulation. Maintain
                                    accountability for balancing the needs of underwriting standards against the customer
                                    experience of a clientele including executives, investors, and business referral sources.</li>
                                <li>Maintain a pipeline of 20-40 loans while managing customer contact deadlines, loan rate expirations,
                                    and purchase contingency dates. </li>
                                <li>Re-evaluate and prioritize workload considing the expectations of clients, teammates, realtors,
                                    loan officers, and vendors.
                                </li>
                                <li>Use multiple internal and external resources to stay compliance with state, federal, and
                                    investor guidelines and regulations for a wide variety of loan processes including: Texas
                                    50(a)(6) cashouts, NY CEMAs, HARP, Super Conforming, Jumbo conforming, and nonconforming
                                    loans.
                                </li>
                            </ul>
                        </more>
                    </p>
                    <md-card-footer>
                        <sm>APRIL 2012 - JUNE 2014</sm>
                    </md-card-footer>
                </div>
            </md-card>

            <md-card>
                <div class="md-padding">
                    <md-card-header>
                        <md-card-header-text class="md-headline">
                            <t>Shift Supervisor
                                <i>Caribou Coffee</i>
                            </t>
                        </md-card-header-text>
                    </md-card-header>
                    </p>
                    <p>
                        <more>
                            <ul>
                                <li>Coached and developed a diverse team to cultivate motivated and engaged employees who provided
                                    excellent customer service. </li>
                                <li>Took ownership of store sales goals and developed strategies to exceed sales objectives and
                                    customer service standards, where we consistently ranked at the top of our region for
                                    customer satisfaction.</li>
                                <li>Controlled labor distribution to ensure great guest experience and ensure budget goals are
                                    achieved.
                                </li>
                                <li>Studied and examined operations and proactively implemented changes to operations to maintain
                                    future reliability.</li>

                            </ul>
                        </more>
                    </p>
                    <md-card-footer>
                        <sm>OCTOBER 2010 - APRIL 2012</sm>
                    </md-card-footer>
                </div>
            </md-card>

        </div>
        <div layout="column" layout-fill layout="center center" flex="10"></div>
    </div>
    </div>
</section>