/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 5px 15px 5px 15px;
}

#aboutme p {
  padding: 0px 20px 0px 20px;
}

#myPicture {
  border-radius: 100%;
  height: 230px;
  width: 230px;
}

#homeLinks img {
  height: 100px;
  width: 100px;
  margin: 10px 50px 10px 50px;
  opacity: 0.54;
}

#homeName {
  font-size: 4.5em;
  padding: 50px 50px 50px 50px;
}

.repoTiles {
  color: rgba(0, 0, 0, 0.65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow: hidden;
}

.repoTiles h1 {
  color: rgba(0, 0, 0, 0.65);
  font-size: 2em;
}

.githubImage {
  opacity: .65;
  width: 25%;
  height: auto;
}

.parent {
  overflow: hidden;
}
